In [15]:
import os

os.environ["KERAS_BACKEND"] = "tensorflow"

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
import keras
from keras import layers, ops
from datetime import date

In [5]:
pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Ages"])

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Ages
0,0.435,0.335,0.110,0.3340,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.8740,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.0920,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.8790,0.3740,0.1695,0.2300,13
...,...,...,...,...,...,...,...,...
3315,0.605,0.475,0.180,0.9365,0.3940,0.2190,0.2950,15
3316,0.700,0.525,0.190,1.6015,0.7070,0.3650,0.4300,10
3317,0.530,0.420,0.130,0.8365,0.3745,0.1670,0.2490,11
3318,0.395,0.315,0.105,0.3515,0.1185,0.0910,0.1195,16
3319,0.450,0.355,0.120,0.4120,0.1145,0.0665,0.1600,19

In [22]:
_aal = pd.read_csv("./data/stocks/AAL.csv")
print(_aal.info())
# _aal["Date"].map(lambda x: date.fromisoformat(x).timetuple())
# _aal#["Date"].astype("datetime64[ns]")
_aal.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3653 non-null   object
 1   Open       3653 non-null   float64
 2   High       3653 non-null   float64
 3   Low        3653 non-null   float64
 4   Close      3653 non-null   float64
 5   Adj Close  3653 non-null   float64
 6   Volume     3653 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 199.9+ KB
None

         Date       Open       High        Low      Close  Adj Close   Volume
0  2005-09-27  21.049999  21.400000  19.100000  19.299999  18.194910   961200
1  2005-09-28  19.299999  20.530001  19.200001  20.500000  19.326199  5747900
2  2005-09-29  20.400000  20.580000  20.100000  20.209999  19.052801  1078200
3  2005-09-30  20.260000  21.049999  20.180000  21.010000  19.806999  3123300
4  2005-10-03  20.900000  21.750000  20.900000  21.500000  20.268938  1057900

In [26]:
fonts_zip = keras.utils.get_file(
    fname=None, origin="https://www.kaggle.com/api/v1/datasets/download/jacksoncrow/stock-market-dataset",
    cache_dir='.', cache_subdir='TESTING',
    extract=True)
# TODO: change cache_subdir, load desired ticker list, etc

Downloading data from https://www.kaggle.com/api/v1/datasets/download/jacksoncrow/stock-market-dataset
547714524/547714524 ━━━━━━━━━━━━━━━━━━━━ 90s 0us/step